.footerlinks {
    color: black;
    text-decoration: none !important;
}

.footerlinks:hover{
    text-decoration: underline;
}

#footer1{
    background-color: #fe8689;
}

#footer2{
    background-color: #fb5056;
}

.modal-part-sticky{
    position: sticky;
}